* {
  font-family: "Microsoft YaHei UI", sans-serif;
}

#body {
  padding: 26px 30px;
  animation: fade 0.2s;
  overflow: hidden;
}

p {
  margin: 5px 0;
  text-align: justify;
}
.description {
  font-size: 16px;
  color: #444;
  margin: 15px 0;
}

span.link[href] {
  color: var(--accent);
  cursor: pointer;
}
.link:active {
  filter: brightness(50%);
}

hr {
  border: none;
  border-bottom: #ddd 2px solid;
}


.guidePic {
  width: 100%;
}

.logoPic,
#version {
  vertical-align: bottom;
}
#version {
  color: #888;
  font-size: 26px;
  line-height: 38px;
  margin-left: 10px;
}

.versions {
  display: flex;
  justify-content: space-between;
  color: #555;
  font-size: 0.85em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 30px;
  height: 35px;
  background: #eee;
  line-height: 35px;
}
.versions * {
  font-family: Consolas, monospace;
}
.vItem span {
  color: #888;
}
