#body {
  animation: fadeFromRight 1s cubic-bezier(0, 1, 0, 1);
}

#display {
  position: absolute;
  top: 36px;
  left: 0;
  right: 0;
  height: 130px;
  overflow: hidden;
  animation: fade 0.5s;
}

#display:before,
#display:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 30px;
  z-index: 5;
}

#display:before {
  top: 0;
  background: linear-gradient(white, transparent);
}
#display:after {
  bottom: 0;
  background: linear-gradient(transparent, white);
}
#num {
  position: absolute;
  top: 0;
  width: 100%;
  transition: top 1.5s;
}
#display span {
  display: block;
  font-size: 100px;
  width: 100%;
  text-align: center;
  line-height: 130px;
  height: 130px;
  text-shadow: #0005 0 5px 10px;
  margin: 0;
  transition: color 0.2s;
}

#drawBtn {
  background: var(--accent);
  color: white;
  border: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: block;
  font-size: 20px;
  outline: none !important;
  border-radius: 0;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  transition: filter 0.3s;
  animation: dark 0.3s;
  -webkit-app-region: no-drag;
}

#drawBtn:disabled {
  filter: brightness(80%);
}

#drawBtn:before {
  content: "";
  position: absolute;
  bottom: 100%;
  height: 20px;
  width: 100%;
  left: 0;
  background: linear-gradient(transparent, #0003);
}

.ripple-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}

#ripple {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #0003;
}
#drawBtn:disabled #ripple {
  animation: ripple 0.8s ease-in-out;
}

@keyframes ripple {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  50% {
    width: 200%;
    padding-bottom: 200%;
  }
  100% {
    opacity: 0;
    width: 200%;
    padding-bottom: 200%;
  }
}
